<div class="header">
  <nav class="bg-sds-bg py-4 px-6 flex justify-between items-center">
    <div class="logo flex items-center">
      <img src="../assets/icons/sds-logo.png" alt="Logo" class="h-8" />
      <span class="text-white text-xl ml-2">PT SARANA DWI SEJAHTERA</span>
    </div>
    <div class="menu flex space-x-20 text-sm font-medium">
      <a href="#" class="text-white hover:text-sds-orange">HOME</a>
      <a href="#" class="text-white hover:text-sds-orange">ABOUT</a>
      <a href="#" class="text-white hover:text-sds-orange">OUR SERVICE</a>
      <a href="#" class="text-white hover:text-sds-orange">CONTACT</a>
      <a href="#" class="text-white hover:text-sds-orange">CAREER</a>
    </div>
    <div class="login">
      <button
        class="border border-sds-orange bg-sds-bg text-sds-orange hover:bg-sds-orange hover:text-white font-bold py-2 px-4 rounded"
      >
        Login
      </button>
    </div>
  </nav>
</div>
