<main class="h-screen overflow-hidden relative flex justify-center items-center ">
  <section class="flex gap-20 shadow-login bg-white px-24 py-8 rounded-xl">
    <div class="absolute -bottom-32 left-0 end-0 -z-10">
      <img src="../../assets/images/elipse.png" class="w-full" alt="elipse" />
    </div>
    <div class="w-full">
        <img src="../../assets/images/logo-login.png" alt="logo" width="282" height="70">
        <img src="../../assets/images/login-image.png" alt="image" width="320" height="334"> 
    </div>
    <div class="w-full">
        <h3 class="font-bold text-3xl mb-10">Welcome <span class="text-sds-orange"> Back</span></h3>
        <div class="flex flex-col w-full ">
            <label class="font-bold">Username:</label>
            <input type="text" class="border-4 border-sds-orange px-2 py-1 rounded-lg w-full">
        </div>
        <div class="flex flex-col mt-6">
            <label class="font-bold">Password:</label>
            <input type="text" class="border-4 border-sds-orange px-2 py-1 rounded-lg">
        </div>
    </div>
  </section>
</main>
