<main>
  <section class="h-500 bg-sds-bg relative flex items-center justify-center">
    <div class="absolute -bottom-0 left-10">
      <img
        src="../../assets/images/toa.png"
        alt="toa"
        width="400"
        height="400"
        class="md:block hidden"
      />
    </div>
    <div>
      <img src="../../assets/images/contact.png" alt="toa" />
    </div>
  </section>

  <section class="md:p-10 md:mb-10 p-5">
    <div class="flex justify-center items-center flex-col text-center">
      <h3 class="font-bold text-3xl">
        Get<span class="text-sds-orange"> to Know</span>
        Us
      </h3>
      <p class="mt-5 md:max-w-500">
        You can Contact us throught emial, phone number or just simply visit us.
        if you need any help, please let us know by filling the form.
      </p>
    </div>

    <div class="flex md:flex-row flex-col justify-evenly gap-5 md:mt-20 mt-10">
      <div>
        <img
          src="../../assets/images/contac-2.png"
          alt="contact-2"
          width="400"
          height="525"
        />
        <h4 class="font-bold text-2xl max-w-400 mt-4">
          Have a Problem Management in Mind?
          <span class="text-sds-orange"> Let’s Talk</span>
        </h4>
      </div>
      <div class="flex flex-col gap-5">
        <div class="bg-gray-100 flex gap-4 p-5 w-full rounded-md">
          <img src="../../assets/icons/telepon.svg" alt="phone" />
          <div>
            <h4 class="font-bold underline underline-offset-4 text-xl">
              Phone
            </h4>
            <p class="text-sds-orange font-semibold">021 - 22733343</p>
          </div>
        </div>

        <div class="bg-gray-100 flex gap-4 p-5 w-full rounded-md">
          <img src="../../assets/icons/email.svg" alt="email" />
          <div>
            <h4 class="font-bold underline underline-offset-4 text-xl">
              Email
            </h4>
            <p class="text-sds-orange font-semibold md:w-full">
              pt.dwisejahtera@gmail.com
            </p>
          </div>
        </div>
        <div>
          <h4 class="text-2xl font-bold underline underline-offset-4">
            OUR LOCATION:
          </h4>
          <div class="flex items-center gap-4 md:flex-row flex-col">
            <img src="../../assets/images/barcode.png" alt="barcode" />
            <img src="../../assets/images/maps.png" alt="maps" />
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-sds-gray grid md:grid-cols-12 grid-cols-6 text-white font-bold py-10 md:px-0   px-5">
    <h3 class="md:col-start-3 md:col-span-12 col-start-1 col-span-6 mb-5 text-2xl text-sds-orange">Have a Question?</h3>
    <div class="flex justify-center md:flex-row flex-col md:gap-60 gap-5 md:col-start-1 md:col-span-12 col-start-1 col-span-6">
      <div class="md:w-366 flex flex-col gap-3">
        <div class="flex justify-between">
          <label>Full Name</label>
          <input
            type="name"
            name="name"
            class="bg-sds-secondary rounded-sm"
            id="name"
          />
        </div>
        <div class="flex justify-between">
          <label>Your Email: </label>
          <input
            type="name"
            name="name"
            class="bg-sds-secondary rounded-sm"
            id="name"
          />
        </div>
        <div class="flex justify-between">
          <label>Subject:</label>
          <input
            type="name"
            name="name"
            class="bg-sds-secondary rounded-sm"
            id="name"
          />
        </div>
      </div>
      <div class="flex flex-col relative mb-10">
        <label for="">Your Message: </label>
        <textarea name="" id="" cols="30" rows="3" class="bg-sds-secondary"></textarea>
        <button class="absolute -bottom-10  bg-sds-orange px-6 rounded-lg py-1 text-center right-0">Submit</button>
      </div>
    </div>
  </section>
</main>
