<footer class="bg-sds-bg text-white py-8">
  <div class="container mx-auto flex flex-wrap mb-10">
    <div class="w-full md:w-1/3 px-4 flex flex-col">
      <div class="w-full text-center">
        <img
          src="../../../../assets/icons/sds-logo.png"
          alt="Logo"
          class="h-10 w-10 mb-4 mx-auto"
        />
      </div>
      <p class="text-base font-bold text-justify px-20 mb-3">
        PT SARANA DWI SEJAHTERA
      </p>
      <p class="text-sm font-normal text-justify px-20 mb-3">
        Was Build and developed by young professionals who are experienced in
        the field of Management
      </p>
      <p class="text-xs font-bold text-justify px-20">Working Hours/days</p>
      <p class="text-sm font-normal text-justify px-20">
        Monday - Friday (08.00 - 09.00 WIB)
      </p>
      <div class="container mx-auto mt-6 px-20">
        <ul class="flex space-x-4">
          <li>
            <a href="#">
              <img
                src="../../../../assets/icons/fb.png"
                alt="Home"
                class="w-10 h-10"
              />
            </a>
          </li>
          <li>
            <a href="#">
              <img
                src="../../../../assets/icons/ig.png"
                alt="Heart"
                class="w-10 h-10"
              />
            </a>
          </li>
          <li>
            <a href="#">
              <img
                src="../../../../assets/icons/tw.png"
                alt="Envelope"
                class="w-10 h-10"
              />
            </a>
          </li>
          <li>
            <a href="#">
              <img
                src="../../../../assets/icons/li.png"
                alt="Bell"
                class="w-10 h-10"
              />
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="w-full md:w-1/3 px-4">
      <p class="text-xs font-bold text-justify px-20 mb-3">Contact</p>
      <p class="text-sm font-normal text-justify px-20 mb-3">
        Jl. Shangrila Raya No.48A, RT.6/RW.3, Petukangan Sel., Kec.
        Pesanggrahan, Kota Jakarta Selatan, Daerah Khusus Ibukota Jakarta 12270
      </p>
      <p class="text-xs font-bold text-justify px-20 mb-3">Call Us Directly</p>
      <p class="text-sm font-normal text-justify px-20 mb-3">021 - 22733343</p>
      <p class="text-xs font-bold text-justify px-20 mb-3">Email Us Directly</p>
      <p class="text-sm font-normal text-justify px-20 mb-3">
        info@dwisejahtera.com
      </p>
    </div>
    <div class="w-full md:w-1/3 px-4">
      <p class="text-xs font-bold text-justify px-20 mb-3">Service</p>
      <p class="text-sm font-normal text-justify px-20">Finance</p>
      <p class="text-sm font-normal text-justify px-20">Accounting</p>
      <p class="text-sm font-normal text-justify px-20">Tax</p>
      <p class="text-sm font-normal text-justify px-20">Feseability</p>
      <p class="text-sm font-normal text-justify px-20">Man Power</p>
    </div>
  </div>
  <div>
    <p class="text-center text-sm font-normal text-sds-orange">
      © Sarana Dwi Sejahtera 2023. All Rights Reserved.
    </p>
  </div>
</footer>
