<footer class="bg-sds-bg text-white relative">
  <div class="grid md:grid-cols-12 md:gap-40">
    <div class="col-start-2 col-span-3 flex gap-2 flex-col p-5">
      <div class="flex flex-col gap-2 w-fit">
        <div class="">
          <img
            src="../../../../assets/icons/sds-logo.png"
            alt="Logo"
            class="items-center mx-auto"
          />
        </div>
        <p class="font-bold">PT SARANA DWI SEJAHTERA</p>
      </div>

      <p class="md:w-96">
        Was Build and developed by young professionals who are experienced in
        the field of Management
      </p>
      <p class="mt-4 font-semibold">Working Hours/days</p>
      <p class="">Monday - Friday (08.00 - 09.00 WIB)</p>
      <ul class="flex items-center">
        <li>
          <a href="#">
            <img src="../../../../assets/icons/fb.png" alt="Home" class="" />
          </a>
        </li>
        <li>
          <a href="#">
            <img src="../../../../assets/icons/ig.png" alt="Heart" class="" />
          </a>
        </li>
        <li>
          <a href="#">
            <img
              src="../../../../assets/icons/tw.png"
              alt="Envelope"
              class=""
            />
          </a>
        </li>
        <li>
          <a href="#">
            <img src="../../../../assets/icons/li.png" alt="Bell" class="" />
          </a>
        </li>
      </ul>
    </div>

    <div class="px-5 flex flex-col md:flex-row md:gap-40">
      <div class="mt-5 md:w-80">
        <p class="font-semibold mb-2">Contact</p>
        <p class="">
          Jl. Shangrila Raya No.48A, RT.6/RW.3, Petukangan Sel., Kec.
          Pesanggrahan, Kota Jakarta Selatan, Daerah Khusus Ibukota Jakarta
          12270
        </p>
        <p class="font-semibold mt-4">Call Us Directly</p>
        <p class="">021 - 22733343</p>
        <p class="font-semibold mt-4">Email Us Directly</p>
        <p class="">info@dwisejahtera.com</p>
      </div>

      <div class="">
        <p class="font-semibold mt-5">Service</p>
        <p class="">Finance</p>
        <p class="">Accounting</p>
        <p class="">Tax</p>
        <p class="">Feseability</p>
        <p class="">Man Power</p>
      </div>
    </div>
  </div>
  <div class="mt-2 py-4">
    <p class="text-center text-sm font-normal text-sds-orange">
      © Sarana Dwi Sejahtera 2023. All Rights Reserved.
    </p>
  </div>
  <div class="bg-green-500 rounded-full hover:bg-green-600 transition-all p-4 absolute bottom-10 end-10">
    <img src="../../../../assets/icons/whatsapp.svg" alt="whatsapp" width="40" height="40">
  </div>
</footer>
