<main class="bg-sds-bg w-full">
  <section class="md:py-20 p-5">
    <div class="grid md:grid-cols-12 grid-cols-6 items-center gap-5 relative">
      <div class="col-start-1 col-span-4 hidden md:block">
        <img src="../../../assets/images/image-hero-left.png" alt="hero-left" />
      </div>

      <div
        class="md:col-start-5 md:col-span-5 md:max-w-600 col-start-1 col-span-6 w-full text-white"
      >
        <p class="font-bold text-3xl">
          THE BEST <u class="text-sds-orange">MANGEMENT</u>
          <span> <u> CONSULTING</u></span> FOR YOUR BUSINESS...
        </p>
        <p class="my-5">
          Lorem ipsum dolor sit amet consectetur. Consequat in tortor convallis
          etiam risus. Amet habitasse neque est at lacus mi fermentum.
        </p>
        <button
          class="border border-sds-orange bg-sds-bg text-white hover:bg-sds-orange hover:text-white font-bold py-2 px-12 text-xl rounded-3xl"
        >
          Let's talk
        </button>
      </div>

      <div class="absolute right-0 hidden md:block">
        <img
          src="../../../assets/images/image-hero-right.png"
          alt="hero-left"
          class=""
        />
      </div>
    </div>
  </section>

  <section
    class="md:bg-section-2 p-5 md:bg-transparent bg-white flex flex-col items-center justify-center md:bg-center md:bg-cover md:bg-no-repeat w-full mt-10 md:h-932"
  >
    <p class="text-center text-3xl font-bold mb-10">
      HOW <u class="text-sds-orange">OUR SERVICE</u> WORKS ??
    </p>
    <div class="text-white w-full">
      <div class="flex md:justify-around md:flex-row flex-col gap-5">
        <div
          class="flex justify-center items-center rounded-md p-5 bg-sds-bg flex-col w-full md:max-w-235 hover:bg-sds-orange hover:scale-110 transition-all group h-243"
        >
          <img src="../../../assets/icons/tax.png" alt="mainpowering.svg" />
          <p class="font-semibold">Tax</p>
          <p class="text-center">Lorem ipsum dolor sit amet consectetur.</p>
          <div class="group-hover:block hidden">
            <img src="../../../assets/icons/arrow.png" alt="arrow" />
            <p class="">Learn more</p>
          </div>
        </div>
        <div
          class="flex justify-center items-center rounded-md p-5 bg-sds-bg flex-col w-full md:max-w-235 hover:bg-sds-orange hover:scale-110 transition-all group h-243"
        >
          <img src="../../../assets/icons/user.png" alt="mainpowering.svg" />
          <p class="font-semibold">Man Power</p>
          <p class="text-center">Lorem ipsum dolor sit amet consectetur.</p>
          <div class="group-hover:block hidden">
            <img src="../../../assets/icons/arrow.png" alt="arrow" />
            <p class="">Learn more</p>
          </div>
        </div>
        <div
          class="flex justify-center items-center rounded-md p-5 bg-sds-bg flex-col w-full md:max-w-235 hover:bg-sds-orange hover:scale-110 transition-all group h-243"
        >
          <img src="../../../assets/icons/dollar.png" alt="mainpowering.svg" />
          <p class="font-semibold">Finance</p>
          <p class="text-center">Lorem ipsum dolor sit amet consectetur.</p>
          <div class="group-hover:block hidden">
            <img src="../../../assets/icons/arrow.png" alt="arrow" />
            <p class="">Learn more</p>
          </div>
        </div>
      </div>

      <div class="flex justify-around gap-5 md:mt-14 mt-5 md:flex-row flex-col">
        <div
          class="flex justify-center items-center rounded-md p-5 bg-sds-bg flex-col w-full md:max-w-235 hover:bg-sds-orange hover:scale-110 transition-all group h-243"
        >
          <img
            src="../../../assets/icons/accounting.png"
            alt="mainpowering.svg"
          />
          <p class="font-semibold">Accounting</p>
          <p class="text-center">Lorem ipsum dolor sit amet consectetur.</p>
          <div class="group-hover:block hidden">
            <img src="../../../assets/icons/arrow.png" alt="arrow" />
            <p class="">Learn more</p>
          </div>
        </div>
        <div
          class="flex justify-center items-center rounded-md p-5 bg-sds-bg flex-col w-full md:max-w-235 hover:bg-sds-orange hover:scale-110 transition-all group h-243"
        >
          <img src="../../../assets/icons/scales.png" alt="mainpowering.svg" />
          <p class="font-semibold">Fiseability</p>
          <p class="text-center">Lorem ipsum dolor sit amet consectetur.</p>
          <div class="group-hover:block hidden">
            <img src="../../../assets/icons/arrow.png" alt="arrow" />
            <p class="">Learn more</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-sds-bg text-white flex flex-col gap-10 p-5">
    <div class="flex items-center md:flex-row flex-col justify-evenly">
      <div class="flex items-center gap-36">
        <img
          src="../../../assets/icons/polygon-arrow.svg"
          alt="polygon-arrow"
          class="md:block hidden"
        />
        <div class="md:w-480">
          <h2 class="font-bold text-3xl">
            The Hundred of Completed works<span
              class="text-sds-orange underline"
            >
              Still Counting
            </span>
            in Any Industries
          </h2>
          <p class="mt-4">
            Lorem ipsum dolor sit amet consectetur. Pellentesque orci nulla
            etiam morbi urna vitae donec tempor id. Consequat in varius aliquam
            tristique porta pretium mauris nunc.
          </p>
        </div>
        <img
          src="../../../assets/images/exp.png"
          alt="exp-arrow"
          class="md:block hidden"
        />
      </div>
    </div>
    <img
      src="../../../assets/icons/sds.svg"
      alt="sds"
      width="919"
      height="144"
      class="hidden md:block"
    />
  </section>

  <section class="md:p-20 p-5 bg-section-4 bg-no-repeat bg-cover bg-center text-white flex flex-col items-center">
    <div class="md:max-w-500 text-center">
      <h1 class="text-3xl  font-bold">Contact US <span class="underline-offset-1 underline text-sds-orange">to Secure </span> your Management Services Needs</h1>
      <p class="my-3">Let’s collaborate and make an impact with our approach to manages.</p>
      <button class="bg-sds-orange px-4 py-2 rounded-md font-semibold">LET'S WORK TOGETHER</button>
    </div>
  </section>
</main>
