<div class="bg-sds-bg mx-auto w-full">
  <section class="h-96 mb-20">
    <img
      class="absolute"
      src="../../../assets/images/section-1.png"
      alt="section 1 background"
    />
    <div class="container mx-auto relative">
      <div class="grid grid-cols-4 gap-4">
        <div class="col-span-1">
          <!-- Kolom 1 -->
        </div>
        <div class="col-span-2 text-white pt-52 text-3xl font-semibold px-10">
          <p class="mb-5">
            THE BEST <u class="text-sds-orange">MANGEMENT</u>
            <span> <u> CONSULTING</u></span> FOR YOUR BUSINESS...
          </p>
          <p class="text-base font-normal mb-5">
            Lorem ipsum dolor sit amet consectetur. Consequat in tortor
            convallis etiam risus. Amet habitasse neque est at lacus mi
            fermentum.
          </p>
          <button
            class="border border-sds-orange bg-sds-bg text-white hover:bg-sds-orange hover:text-white font-bold py-2 px-12 text-xl rounded-3xl"
          >
            Let's talk
          </button>
        </div>
        <div class="col-span-1"></div>
      </div>
    </div>
  </section>

  <section class="h-96 mb-96">
    <img
      class="absolute"
      src="../../../assets/images/section-2.png"
      alt="section 2 background"
    />
    <div class="container mx-auto relative pt-52">
      <p class="text-center text-3xl font-semibold mb-10">
        HOW <u class="text-sds-orange">OUR SERVICE</u> WORKS ??
      </p>
      <div class="container mx-auto">
        <div class="grid grid-cols-3 gap-4 mb-20">
          <div class="col-span-1 p-4">
            Kolom 1
            <div
              class="flex flex-col items-center justify-center bg-black px-5 py-5 w-56 rounded-2xl float-right mt-10"
            >
              <img src="../../../assets/icons/tax.png" alt="tax" class="h-12" />
              <p class="text-white text-base font-bold">Tax</p>
              <p class="text-white text-sm font-normal text-center">
                Lorem ipsum dolor sit amet consectetur.
              </p>
            </div>
          </div>
          <div class="col-span-1 p-4">
            <!-- <div
              class="flex flex-col items-center justify-center bg-sds-orange px-5 py-10 w-56 rounded-2xl mx-auto"
            >
              <img
                src="../../../assets/icons/user.png"
                alt="tax"
                class="h-20"
              />
              <p class="text-black text-base font-bold">Man Powering</p>
              <img
                src="../../../assets/icons/arrow.png"
                alt="tax"
                class="h-5"
              />
              <p class="text-gray-300 text-sm font-bold text-center">
                read more...
              </p>
            </div> -->
            <div
              class="flex flex-col items-center justify-center bg-black px-5 py-5 w-56 rounded-2xl mt-10 mx-auto"
            >
              <img
                src="../../../assets/icons/user.png"
                alt="tax"
                class="h-12"
              />
              <p class="text-white text-base font-bold">Man Powering</p>
              <p class="text-white text-sm font-normal text-center">
                Lorem ipsum dolor sit amet consectetur.
              </p>
            </div>
          </div>
          <div class="col-span-1 p-4">
            <div
              class="flex flex-col items-center justify-center bg-black px-5 py-5 w-56 rounded-2xl mt-10"
            >
              <img
                src="../../../assets/icons/dollar.png"
                alt="tax"
                class="h-12"
              />
              <p class="text-white text-base font-bold">Finance</p>
              <p class="text-white text-sm font-normal text-center">
                Lorem ipsum dolor sit amet consectetur.
              </p>
            </div>
          </div>
        </div>
        <div class="grid grid-cols-2 gap-4">
          <div class="col-span-1 p-4">
            <div
              class="flex flex-col items-center justify-center bg-black px-5 py-5 w-56 rounded-2xl float-right mr-20"
            >
              <img
                src="../../../assets/icons/accounting.png"
                alt="tax"
                class="h-12"
              />
              <p class="text-white text-base font-bold">Accounting</p>
              <p class="text-white text-sm font-normal text-center">
                Lorem ipsum dolor sit amet consectetur.
              </p>
            </div>
          </div>
          <div class="col-span-1 p-4">
            <div
              class="flex flex-col items-center justify-center bg-black px-5 py-5 w-56 rounded-2xl ml-20"
            >
              <img
                src="../../../assets/icons/scales.png"
                alt="tax"
                class="h-12"
              />
              <p class="text-white text-base font-bold">Feseability</p>
              <p class="text-white text-sm font-normal text-center">
                Lorem ipsum dolor sit amet consectetur.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="container bg-white">
    <img src="../../../assets/images/services.png" alt="section 3 background" />
  </section>
  <section>
    <img
      src="../../../assets/images/section-4.png"
      alt="section 4 background"
    />
  </section>
</div>
